/* Empty. Add your own CSS if you like */

p, span {
	line-height: normal;
}

img.AppIcon {
	vertical-align: middle;
	height: 34px;
	width: 34px;
}

.platform-android .header-item.title {
    transition-duration: 0ms;
}
.platform-android .header-item.buttons {
    transition-duration: 0ms;
}

ion-content {
	background: #DFDFDF;
}

.button-bar.bar-custom > .button {
	border-color: #e42112; 
}
.bar.bar-custom {
    border-color: #e42112;
    background-color: #F54337;
    background-image: linear-gradient(0deg, #F54337, #F54337 50%, transparent 50%);
    color: #fff; 
}
.bar.bar-custom .title {
      color: #fff; 
}
.bar.bar-custom.bar-footer {
      background-image: linear-gradient(180deg, #F54337, #F54337 50%, transparent 50%); 
}
.bar-custom .button {
  border-color: #e42112;
  background-color: #F54337;
  color: #fff; 
}
.bar-custom .button:hover {
    color: #fff;
    text-decoration: none; 
}
.bar-custom .button.active, .bar-custom .button.activated {
    border-color: #e42112;
    background-color: #e42112; 
}
.bar-custom .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; 
}
.bar-custom .button.button-icon {
    border-color: transparent;
    background: none; 
}


ion-tabs.tabs-color-active-custom .tabs {
	background-color: #F54337;
}

ion-tabs.tabs-color-active-custom .tab-item {
	color: #491410;
}
ion-tabs.tabs-color-active-custom .tab-item.tab-item-active, ion-tabs.tabs-color-active-custom .tab-item.active, ion-tabs.tabs-color-active-custom .tab-item.activated {
	color: #491410;
}

ion-tabs.tabs-striped.tabs-color-active-custom .tab-item.activated {
	border-color: #491410;
	color: #491410;
}

ion-tabs.tabs-striped.tabs-color-active-custom .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-custom .tab-item.active {
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.tabs .tab-item .icon {
	background-repeat: no-repeat;
	background-position: center 6px;
	background-size: contain;
	height: 37px;
}

.tabs .tab-item .icon.dash {
	background-image: url('../img/1-Gathering.png');
}

.tabs .tab-item .icon.games {
	background-image: url('../img/2-Games.png');
}

.tabs .tab-item .icon.chats {
	background-image: url('../img/3-Chatroom.png');
}

.tabs .tab-item .icon.account {
	background-image: url('../img/4-User.png');
}

.tabs .tab-item .icon.dash-off {
	background-image: url('../img/1-Gathering-off.png');
}

.tabs .tab-item .icon.games-off {
	background-image: url('../img/2-Games-off.png');
}

.tabs .tab-item .icon.chats-off {
	background-image: url('../img/3-Chatroom-off.png');
}

.tabs .tab-item .icon.account-off {
	background-image: url('../img/4-User-off.png');
}

.slidingTabs ul li {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	height: 40px;
	margin: 4px 0;
}

.slidingTabs ul li:nth-child(1) {
	background-image: url('../img/1-Gathering-off.png');
}

.slidingTabs ul li:nth-child(1).tab-active {
	background-image: url('../img/1-Gathering.png');
}

.slidingTabs ul li:nth-child(2) {
	background-image: url('../img/2-Games-off.png');
}

.slidingTabs ul li:nth-child(2).tab-active {
	background-image: url('../img/2-Games.png');
}

.slidingTabs ul li:nth-child(3) {
	background-image: url('../img/3-Chatroom-off.png');
}

.slidingTabs ul li:nth-child(3).tab-active {
	background-image: url('../img/3-Chatroom.png');
}

.slidingTabs ul li:nth-child(4) {
	background-image: url('../img/4-User-off.png');
}

.slidingTabs ul li:nth-child(4).tab-active {
	background-image: url('../img/4-User.png');
}


#DashboardContainer ion-content.padding {
	padding-left: 0;
	padding-right: 0;
}

#DashboardContainer .row {
	padding: 0;
}

.gs-card {
	margin: 10px 5px 0;
}

.gs-card.card-full {
	margin: 10px 0 0;
}

.gs-card > .item {
	padding: 5px;
}

.gs-card .card-title {
	background: #F54337;
	color: #FFFFFF;
	text-align: center;
	min-height: 0;
	padding-bottom: 0;
}

#DashboardContainer .card#today #date {
	text-align: center;
	padding: 13px 0 13px;
	font-size: 48px;
	line-height: 48px;
	color: #491410;
}

.gs-card.info {
	padding: 0;
}

.gs-card.info .info-left {
	float: left;
	width: 18%;
	margin-right: 2px;
	font-size: 18px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	padding:15px 0 16px;
}

.gs-card.info .info-right {
	float: left;
	width: 80%;
	background: #FFFFFF;
	color: #491410;
	padding-top: 15px;
}

.gs-comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 5px;
}

.gs-comment + .gs-comment {
    border-top: 1px solid #DFDFDF;
    padding-top: 5px;
}

.gs-comment .gs-comment-avatar-container {
	-webkit-box-flex: 0;
    -webkit-flex: 0;
    -moz-box-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    display: block;
    padding: 5px;
    width: 100%;
}

.gs-comment .gs-comment-text-container {
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
}

.gs-comment .gs-comment-avatar {
	background-size:cover;
	background-position:center center;
	width:15vw;
	height:15vw;
	border-radius:15vw;
}

.gs-comment .gs-comment-name {
	color: #000;
	font-size:14px;
	font-weight: bold;
}

.gs-comment .gs-comment-comment {
	max-height: 400px;
    transition: max-height 0.5s;
}

.gs-comment .gs-comment-comment.close {
	display: block;
	max-height: 4.8em;
    overflow: hidden;
  	text-overflow: ellipsis;
    transition: max-height 0.5s;
}

.gs-comment .gs-comment-comment.close:after {
	content: "";
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 85%;
	height: 1.6em;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

#GamesContainer ion-content.padding, #GamesContainer div.scroll.overscroll {
	padding-left: 5px;
	padding-right: 5px;
}

#GamesContainer ion-list ion-item {
	padding: 0;
	margin-bottom: 10px;
	border: 0;
	border-radius: 4px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

div.game-image {
	flex: 0 0 80px;
	min-width: 0;
	background-size: cover;
	background-position: center center;
}

div.game-state {
	flex: 0 0 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 0;
}

div.game-state-0 {
	background: #f54337;
}

div.game-state-1 {
	background: #4cb050;
}

div.game-info {
	min-width: 0;
	flex-grow: 1;
	margin: 5px;
}

.game-info-title {
	padding: 0;
	margin: 0;
	line-height: 20px;
}

.game-info-desc {
	font-size: 12px !important;
	line-height: 12px;
	color: #AAAAAA !important;
	padding: 0;
	padding-bottom: 6px;
	transform-origin:left top;
	transform: scale(0.9);
}

.game-info-stat {
	float: left;
	background: #DFDFDF;
	border-radius: 4px;
	width: 66px;
	padding: 2px 0;
	text-align: center;
	margin-right: 4px;
}

.game-info-stat p {
	font-size: 12px !important;
	line-height: 12px;
	margin: 0;
	padding: 0;
	transform: scale(0.8);
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.game-info-stat img:first-child {
	margin-top: 2px;
	width: 20px;
	height: 20px;
}

.game-state-amount {
	text-align: center;
	color: #FFF !important;
	font-size: 24px !important;
	line-height: 24px !important;
}

.game-state-availabiliy {
	text-align: center;
	color: #FFF !important;
	font-size: 12px !important;
	line-height: 12px !important;
    white-space: normal !important;
	transform: scale(0.9);
}

#AccountContainer ion-content {
	background: #FFF;
}

#AccountContainer .list .item {
	height: 60px;
	padding-left: 60px;
}

#AccountContainer .info-title {
	color: #F54337;
	font-weight: bold;
}

#RegisterContainer ion-content {
	background: #FFF;
}

#RegisterContainer .list .item {
	height: 60px;
	padding-left: 60px;
}

#GameDetailContainer .info-box {
	text-align: center;
	background: #DFDFDF;
	border-radius: 4px;
	padding: 5px;
}

#GameDetailContainer .info-box .info-title{
	display: block;
	font-size: 12px;
	white-space: normal;
}

#GameDetailContainer .info-box .info-desc{
	white-space: normal;
}