<div class="gs-comment">
	<div class="gs-comment-avatar-container">
		<div class="gs-comment-avatar" style="background-image:url('{{avatar}}')"></div>
	</div>
	<div class="gs-comment-text-container">
		<p class="gs-comment-name">{{name}}</p>
		<p class="gs-comment-comment close">{{comment}}</p>
	</div>
</div>