<ion-view id="GameDetailContainer">
    <ion-nav-title>
        <img src="img/0-AppIcon.png" class="AppIcon">
        {{ game.name.en }}
    </ion-nav-title>
    <ion-content>
        <gs-img src="http://cdn.playbuzz.com/cdn/824ef560-3ded-4e28-a037-3e9e1070cc72/fc11b345-8a63-466d-9301-ab99f66a5aa8.jpg" height="180px" width="100%"></gs-img>

        <div class="card gs-card">
            <div class="item card-title">
                Information
            </div>
            <div class="item">
            	<div class="row">
            		<div class="col">
            			<div class="info-box">
            				<p class="text-center" style="font-size:36px">{{ game.name.en }}</span>
            				<p class="text-center">{{ game.name.zh }}</span>
            			</div>
            		</div>
            	</div>
            	
		        <div class="row">
		        	<div class="col">
		        		<div class="info-box">
		        			<span class="info-title">Author</span>
		        			<span class="info-desc">{{ game.author }}<span>
		        		</div>
		        	</div>
		        	<div class="col">
		        		<div class="info-box">
		        			<span class="info-title">Category</span>
		        			<span class="info-desc">
                                {{ game.category.join(',') }}
                            <span>
		        		</div>
		        	</div>
		        </div>
            	
		        <div class="row">
		        	<div class="col">
		        		<div class="info-box">
		        			<span class="info-title">People</span>
		        			<span class="info-desc">{{ game.players.min }}-{{ game.players.max }}<span>
		        		</div>
		        	</div>
		        	<div class="col">
		        		<div class="info-box">
		        			<span class="info-title">Mechanism</span>
		        			<span class="info-desc" style="white-space: normal;">{{ game.mechanism.join(',') }}<span>
		        		</div>
		        	</div>
		        </div>
            </div>
        </div>

        <div class="card gs-card">
            <div class="item card-title">
                Description
            </div>
            <div class="item item-text-wrap">
            	<div class="row">
            		<div class="col">
            			<p>{{ game.desc.en }}</p>
                        <p>{{ game.desc.zh }}</p>
            		</div>
            	</div>
            </div>
        </div>

        <div class="card gs-card">
            <div class="item card-title">
                Comments
            </div>
            <div class="item item-text-wrap">
            	<div class="list">
            		<gs-comment avatar="http://cdn.playbuzz.com/cdn/824ef560-3ded-4e28-a037-3e9e1070cc72/fc11b345-8a63-466d-9301-ab99f66a5aa8.jpg" name="Werewolf" comment="Hunting Time!"></gs-comment>
            		<gs-comment avatar="http://cdn.playbuzz.com/cdn/824ef560-3ded-4e28-a037-3e9e1070cc72/fc11b345-8a63-466d-9301-ab99f66a5aa8.jpg" name="Werewolf" comment="Hunting Time!"></gs-comment>
            	</div>
            </div>
            <div class="item">
                <p class="text-right padding">
                    <i class="icon ion-compose"></i> New Comment
                </p>
            </div>
        </div>

        <div class="card gs-card hide">
            <div class="item card-title">
                You may like ...
            </div>
            <div class="item item-text-wrap">
            	<div class="row" style="flex-direction:row;overflow:scroll">
            		<div class="col-33">
            			<img src="" alt="" style="width:30vw;height:30vw">
            			Werewolf Moon
            		</div>
            		<div class="col-33">
            			<img src="" alt="" style="width:30vw;height:30vw">
            			Wolf Pack
            		</div>
            		<div class="col-33">
            			<img src="" alt="" style="width:30vw;height:30vw">
            			Legendary Moon
            		</div>
            		<div class="col-33">
            			<img src="" alt="" style="width:30vw;height:30vw">
            			Werewolf Empire III: Lost of Kingdom
            		</div>
            		<div class="col-33">
            			<img src="" alt="" style="width:30vw;height:30vw">
            			Wooolf!!
            		</div>
            		<div class="col-33">
            			<img src="" alt="" style="width:30vw;height:30vw">
            			Do you wanna play with Moon Moon?
            		</div>
            	</div>
            </div>
        </div>
    </ion-content>
</ion-view>
