<ion-view id="RegisterContainer">
    <ion-nav-title>
        <img src="img/0-AppIcon.png" class="AppIcon">
        Register
    </ion-nav-title>
    <ion-content>
        <div class="list">
            <label for="" class="item item-icon-left item-input">
                <i class="icon ion-ionic"></i>
                <input type="text" placeholder="Username" ng-model="login_id">
            </label>
            <label for="" class="item item-icon-left item-input">
                <i class="icon ion-ionic"></i>
                <input type="password" placeholder="Password" ng-model="password">
            </label>
            <label for="" class="item item-icon-left item-input">
                <i class="icon ion-ionic"></i>
                <input type="password" placeholder="Re-enter Password" ng-model="confirmed_password">
            </label>
            <label for="" class="item item-icon-left item-input">
                <i class="icon ion-ionic"></i>
                <span style="margin-right:5px;font-size:12px;">(+852)</span>
                <input type="number" placeholder="Phone" ng-model="phone">
            </label>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-assertive button-block" ng-click="register()">Register</button>
            </div>
        </div>
    </ion-content>
</ion-view>
