<ion-view id="AccountContainer">
    <ion-nav-title>
        <img src="img/0-AppIcon.png" class="AppIcon"> Account
    </ion-nav-title>
    <ion-content>
        <div id="before-login" ng-show="!isLogined">
            <div class="list">
                <label for="" class="item item-icon-left item-input">
                    <i class="icon ion-ionic"></i>
                    <input type="text" placeholder="Username">
                </label>
                <label for="" class="item item-icon-left item-input">
                    <i class="icon ion-ionic"></i>
                    <input type="password" placeholder="Password">
                </label>
            </div>
            <div class="row">
            	<div class="col">
            		<button class="button button-positive button-block">Login</button>
            	</div>
            </div>
        </div>
        <div id="after-login" ng-show="isLogined">
            <div class="row info padding">
                <div class="col-20 info-title">Name</div>
                <div class="col-75">Atta Ho</div>
            </div>
            <div class="row info padding">
                <div class="col-20 info-title">Phone</div>
                <div class="col-75">12345678</div>
            </div>
            <div class="row info padding">
                <div class="col-20 info-title">Joined</div>
                <div class="col-75">20 June 2016</div>
            </div>
            <div class="row info padding">
                <div class="col-20 info-title">Expiry</div>
                <div class="col-75">20 June 2018</div>
            </div>
            <div class="list">
                <div class="item item-icon-left">
                    <i class="icon ion-ionic"></i> View games requested
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-ionic"></i> View games loaned
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-ionic"></i> Change password
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
