<ion-view id="ChatsContainer">
  <ion-nav-title>
      <img src="img/0-AppIcon.png" class="AppIcon">
      Chats
  </ion-nav-title>
  <ion-content padding="true">
    <p style="padding:15px;text-align:center;color:#999;">Chatroom coming soon!</p>
  </ion-content>
</ion-view>
