<ion-view id="DashboardContainer">
  <ion-nav-title>
      <img src="img/0-AppIcon.png" class="AppIcon">
      Gathering
  </ion-nav-title>
    <ion-content>
        <div class="row">
            <div class="col-33">
                <div class="card gs-card" id="today">
                    <div class="item card-title" id="month">
                        <span>{{ nextGathering.month }}</span>
                    </div>
                    <div class="item item-text-wrap" id="date">
                        <span>
                            {{ nextGathering.date }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-67">
                <div class="card gs-card info">
                    <div class="item card-title info-left">
                        <i class="icon ion-android-time"></i>
                    </div>
                    <div class="item info-right">
                        {{ nextGathering.time }}
                    </div>
                </div>
                <div class="card gs-card info">
                    <div class="item card-title info-left">
                        <i class="icon ion-ios-location"></i>
                    </div>
                    <div class="item info-right">
                        {{ nextGathering.venue }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card gs-card">
            <div class="item card-title">
                Other Upcoming Events
            </div>
            <div class="item" style="height: 340px">
                <div class="list">
                    <a class="item item-thumbnail-left" href="#">
                        <img src="" alt="">
                        <h2>Sample Event Title </h2>
                        <p style="white-space: normal">This is text. This is text. This is text. This is text. This is text. This is text. This is text. </p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
