<ion-view id="GamesContainer">
    <ion-nav-title>
        <img src="img/0-AppIcon.png" class="AppIcon">
        Games
    </ion-nav-title>
    <ion-content class="padding">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refreshGameList()">
        </ion-refresher>

        <ion-list>
            <ion-item ng-click="goGameDetail(game._id)" ng-repeat="game in gamesList">
                <div class="game-image" style="background-image: url('img/wolf_image.png')"></div>

                <div class="game-info">
                    <p class="game-info-title">
                        {{ game.name.en }}
                    </p>
                    <p class="game-info-desc">
                        {{ game.desc.en }}
                    </p>
                    <div class="game-info-stat">
                        <img src="img/2a-NoOfPlayers.png" alt="">
                        <p>{{ game.players.min }}-{{ game.players.max }} Ps</p>
                    </div>
                    <div class="game-info-stat">
                        <img src="img/2b-AvgGameTime.png" alt="">
                        <p>{{ game.playingTime.min }}-{{ game.playingTime.max }} Min</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="game-state game-state-{{ game-state-amount > 0 ? 1 : 0 }}">
                    <p class="game-state-amount">2</p>
                    <p class="game-state-availabiliy">Available For Loan</p>
                </div>
            </ion-item>
            <p class="text-center" ng-show="gamesList.length == 0 || gamesList.length == null">No Games ...</p>
        </ion-list>
    </ion-content>
</ion-view>
