<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs gs-swipe-tabs class="tabs-top tabs-icon-only tabs-striped tabs-color-active-custom">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="dash-off" icon-on="dash" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Games Tab -->
  <ion-tab icon-off="games-off" icon-on="games" href="#/tab/games">
    <ion-nav-view name="tab-games"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab icon-off="chats-off" icon-on="chats" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="account-off" icon-on="account" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>